@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    text-align: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo a img{
    margin: 10px;
    width: 9rem;
}

header nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav ul li{
    margin: 0.7rem;
    font-size: 1.5rem;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

article{
    display: flex;
    align-items: center;
}

.par{
    flex-direction: row-reverse;
}

main article div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article div img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

main article div h4{
    font-size: 2rem;
}

main article p{
    font-size: 1.3rem;
    width: 50%;
    margin: 3rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    margin: 1rem;
    font-size: 1.5rem;
}

.icons{
    margin: 1rem;
}

/* Promociones */


.promos{
    display: flex;
    justify-content: center;
}

.promos p{
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    gap: 5px;
}

.grid-item{
    border-radius: 10px;
    display: flex;
    justify-content: end;
}

.grid-item p{
    font-size: 1.5em;
    width: 40%;
    text-align: center;
    margin: 1.2rem;
}

.primer-item{
    background-image: url('../img/fondo-rojo-brillante-dulces-gomosos-gomosos-rizados.jpg');
    background-size: cover;
}

.primer-item p{
    color: white;
    background-color: rgba(256, 0, 0, .4);
}

.segundo-item{
    background-image: url('../img/besos_de_frutilla_fini-foto-2__69853.jpg');
    background-size: cover;
}

.segundo-item p{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 128, .4);
}

/* Tienda */

.grid-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,250px);
    gap: 10px;
}

.item-tienda-1{
    background-image: url('../img/beso-fresa.jpeg');
    background-size: cover;
    background-position: center;
}

.item-tienda-2{
    background-image: url('../img/Bananitas.jpg');
    background-size: cover;
}

.item-tienda-3{
    background-image: url('../img/gusano-pica.jpeg');
    background-size: cover;
}

.item-tienda-4{
    background-image: url('../img/beso-twist.jpeg');
    background-size: cover;
}

.item-tienda-5{
    background-image: url('../img/aros-fresa.jpeg');
    background-size: cover;
}

.item-tienda-6{
    background-image: url('../img/marshmallow-twist.jpeg');
    background-size: cover;
}

.item-tienda-7{
    background-image: url('../img/volcan-rosa.jpeg');
    background-size: cover;
}

.item-tienda-8{
    background-image: url('../img/volcan-azul.jpeg');
    background-size: cover;
}

.item-tienda-9{
    background-image: url('../img/marshmallow-camping.jpeg');
    background-size: cover;
}

.item-tienda-10{
    background-image: url('../img/marshmallow-relleno.jpeg');
    background-size: cover;
}

.item-tienda-11{
    background-image: url('../img/rocklets.jpeg');
    background-size: cover;
}

.item-tienda-12{
    background-image: url('../img/m&m.jpeg');
    background-size: cover;
}

.item-tienda-13{
    background-image: url('../img/confites.jpeg');
    background-size: cover;
}

.item-tienda-14{
    background-image: url('../img/paleta.jpeg');
    background-size: cover;
}

.item-tienda-15{
    background-image: url('../img/donas.jpeg');
    background-size: cover;
}

.info-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 128, .4);
    color: grey;
}

.info-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 0, .4);
    color: grey;
}

.info-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 0, .4);
    color: grey;
}

.info-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, .4);
    color: grey;
}

.info-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, .4);
    color: grey;
}

.info-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, .4);
    color: grey;
}

.info-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(159, 213, 209, .4);
    color: grey;
}

.info-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 255, .4);
    color: grey;
}

.info-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 64, 0, .4);
    color: grey;
}

.info-10{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(93, 193, 185, .4);
    color: grey;
}

.info-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 28, 52, .4);
    color: grey;
}

.info-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(93, 193, 185, .4);
    color: grey;
}

.info-13{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 0, 255, .4);
    color: grey;
}

.info-14{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 0, .4);
    color: grey;
}

.info-15{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 128, .4);
    color: grey;
}

@media screen and (max-width:1120px) {
    .grid-container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,250px);
    }
}

@media screen and (max-width:900px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,250px);
    }
}

@media screen and (max-width:700px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,250px);
    }
}

@media screen and (max-width:500px) {
    .grid-container{
        grid-template-columns: 0.8fr;
        grid-template-rows: repeat(15,250px);
    }
}